$color-texto: black;
$color-text-secondary: #5c6574;
$color-primary: #ea6d27;
$color-text-secondary: #101a24;
$max-container-width: 1152px;
$font-family-primary: "Roboto", serif;
$font-family-secondary: "Roboto", serif;
$box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
