// INDEX 
.button-index-hero {
    font-size: $tamano-fuente-rem-1-2;
    text-shadow: $sombras-texto-boton-hero;       
}

button,
.button-index-hero {
    display: $inline-block;
    padding: $relleno-10-20;
    color: $color-blanco;
    background: $color-fondo-boton-hero;
    border: $none;
    border-radius: $redondear-5;
    text-decoration: $none;
    transition: $transition-background-boton-index;
}

button:hover,
.button-index-hero:hover {
    background: $color-hover-fondo-buton;
}