// Body
body {
  font-family: $font-principal;
  color: $color-texto-body;
  line-height: $line-height-body;
}

// Navegador
.menu-items ul li a {
  text-decoration: none;
  color: $color-texto-menu-link;
  font-size: $font-size-nav;
  padding: $espaciado-pequeno $espaciado-medio;
  border-radius: $border-radius;
  transition: $transition-background-button;
}

.menu-items ul li a:hover {
  background-color: $color-hover-menu-link;
}

// Footer
footer h4 {
  margin-top: $espaciado-pequeno;
  font-size: $font-size-h4-footer;
  line-height: $line-height-h4-footer;
}

@media (min-width: $breakpoint-grande) {
  footer h4 {
      font-size: $font-size-h4-footer-large;
  }
}

// Index
.hero h1 {
  font-size: $font-size-h1-hero;
  margin-bottom: $espaciado-medio;
  text-shadow: $box-shadow-hero;
}

.hero p {
  font-size: $font-size-p-hero;
  margin-bottom: $margin-p-hero;
  text-shadow: $box-shadow-hero;
}

// Botones y Enlaces
button,
.button-index-hero {
  font-size: $font-size-button-index;
  text-shadow: $box-shadow-hero;
}

// Sección Productos
.productos h2 {
  font-size: $font-size-h2-productos;
  margin-bottom: $espaciado-grande;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-h2-productos;
}

.productos p {
  font-size: $font-size-p-productos;
  line-height: $line-height-body;
  color: $color-texto-productos;
}

.producto h3 {
  font-size: $font-size-titulo;
  margin-bottom: $espaciado-pequeno;
  color: $color-amarillo;
}

.producto p {
  font-size: $font-size-p-productos;
  line-height: $line-height-body;
  color: $color-texto-productos;
}

// Sección Servicios
.servicios h2 {
  font-size: $font-size-h2-servicios;
  margin-bottom: $espaciado-grande;
  font-weight: $font-weight-negrita;
  letter-spacing: $letter-spacing-h2-productos;
}

.servicio h3 {
  font-size: $font-size-h3-servicio;
  margin-bottom: $espaciado-pequeno + 5px;
  font-weight: $font-weight-negrita;
  letter-spacing: $letter-spacing-h2-productos / 2;
  color: $color-amarillo;
}

.servicio p {
  font-size: $font-size-p-servicio;
  line-height: $line-height-body;
  color: $color-texto-servicios;
}

.cabecera-tabla {
  font-weight: $font-weight-negrita;
  font-size: $tamano-titulo-pequeno;
}

.contenedor-torneo h1 {
  font-size: $tamano-titulo-grande;
  color: $color-texto-body;
}

.contenedor-torneo .torneo h2 {
  font-size: 1.8rem;
  color: $color-amarillo;
}

.contenedor-torneo .torneo p {
  color: $color-texto-formulario;
}

.contenedor-tabla h1 {
  font-size: 2rem;
  font-weight: $font-weight-negrita;
  color: $color-texto-body;
}

.caption-torneos {
  font-size: 1.5rem;
  font-weight: $font-weight-negrita;
  color: $color-texto-body;
}

.texto-torneos {
  font-size: 1rem;
  color: $color-texto-formulario;
}

.pie {
  font-size: 1rem;
  color: $color-texto-footer;
}

.titulo-grupos {
  font-size: 20px;
  color: $color-texto-body;
}

.texto-grupos {
  font-size: 14px;
  color: $color-texto-secundario;
}

.titulo-grupos-tabla {
  font-size: 16px;
  color: $color-gris-oscuro
}

.tabla-grupos th {
  font-size: 11px;
  color: $color-texto-body;
}

.tabla-grupos td {
  font-size: 11px;
  color: $color-texto-formulario;
}

.cabecera-tabla-grupos {
  font-size: 15px;
  font-weight: $font-weight-negrita;
  color: $color-texto-body;
}

.titulo-fixture {
  font-size: 24px;
  font-weight: $font-weight-negrita;
  color: $color-gris-muy-claro
}

.texto-fixture {
  font-size: 14px;
  color: $color-texto-body;
}

.vs-container {
  font-size: 16px;
  font-weight: $font-weight-negrita;
  color: $color-negro
}

.etapa-title {
  font-size: 18px;
  font-weight: $font-weight-negrita;
  color: $color-texto-nav;
}

.texto-grupos::first-letter {
  font-size: 1.8em;
  font-weight: $font-weight-negrita;
  color: $color-amarillo;
}

.titulo-inicio {
  font-size: $tamano-titulo-grande;
  margin-bottom: $espaciado-pequeno;
  color: $color-texto-body;
}

.subtitulo-inicio {
  font-size: $tamano-titulo-grande;
  font-weight: $font-weight-negrita;
  text-align: center;
  margin-top: $espaciado-pequeno;
  color: $color-texto-secundario;

  &::after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      background-color: $color-destacado;
      margin: $espaciado-pequeno auto 0;
      border-radius: 2px;
  }
}

.titulo-noticia {
  font-size: $tamano-titulo-pequeno;
  font-weight: $font-weight-negrita;
  margin: $espaciado-pequeno 0;
  color: $color-texto-primario;
}

/* Inicio */
.texto-inicio {
  font-size: $font-size-p-hero;
  margin: 0;
  color: $color-texto-secundario;
}

.texto-noticia {
  font-size: $font-size-p-hero;
  margin-bottom: $espaciado-pequeno;
}

.date-noticias {
  color: $color-texto-nav;
  font-size: $font-size-h4-footer;
  font-weight: $font-weight-negrita;
  text-transform: uppercase;
}

/* Aside */
.titulo-aside-inicio,
.subtitulo-aside-inicio {
  color: $color-texto-secundario;
  font-size: $font-size-h2-servicios;
  margin-bottom: $espaciado-pequeno;
}

.subtitulo-aside-inicio {
  font-size: $font-size-h3-servicio;
}

.texto-aside-inicio {
  color: $color-texto-secundario;
  font-size: $font-size-p-servicio;
}

/* Enlaces */
.aside-inicio a {
  text-decoration: none;
  color: $color-texto-secundario;

  &:hover {
      background-color: $color-hover-menu-link;
      color: $color-texto-menu-link;
  }
}

.texto-aside-inicio ul li a {
  color: $color-texto-secundario;
  text-decoration: none;

  &:hover {
      background-color: $color-hover-menu-link;
      color: $color-texto-menu-link;
  }
}